
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow anyone to create a registration
    // Only allow authenticated users (admins) to read, update, or delete them
    match /registrations/{registrationId} {
      allow create: if true;
      allow read, update, delete: if request.auth != null;
    }
    
    // Lock down the 'logs' collection
    match /logs/{logId} {
      // READ: Allow only if the user is authenticated and their email is in the super admin list
      allow read: if request.auth != null && request.auth.token.email in get(/databases/$(database)/documents/settings/admins).data.superAdminEmails;

      // CREATE: Allow any authenticated user (or server process) to create a log entry.
      allow create: if true;

      // UPDATE, DELETE: Nobody should be able to update or delete logs.
      allow update, delete: if false;
    }
    
    match /domains/{domainId} {
    	allow read: if true;
      allow write: if request.auth != null;
    }
    
    // Allow admins to manage settings, but anyone can read them
    match /settings/features {
      allow read: if true;
      allow write: if request.auth != null;
    }

     match /settings/liveBanner {
      allow read: if true;
      allow write: if request.auth != null;
    }
    
    // Super admins can manage the list of super admins
    match /settings/admins {
        allow read, write: if request.auth != null && request.auth.token.email in get(/databases/$(database)/documents/settings/admins).data.superAdminEmails;
    }

    // Allow anyone to read problems
    // Only allow admins to create, update, or delete them
    match /problems/{problemId} {
        allow read: if true;
        allow create, update, delete: if request.auth != null;
    }

    // Allow anyone to read timeline events
    // Only allow admins to create, update, or delete them
    match /timeline/{eventId} {
        allow read: if true;
        allow create, update, delete: if request.auth != null;
    }

     // Lock down user management to super admins
    match /users/{userId} {
        allow read, write: if request.auth != null && request.auth.token.email in get(/databases/$(database)/documents/settings/admins).data.superAdminEmails;
    }
  }
}
